[http]
  [http.routers]
    [http.routers.grafana]
      entryPoints = ["apollo"]
      service = "apollo-app-grafana"
      rule = "Host(`grafana.{{ arc['space']['space_domain'] }}`)"
      [http.routers.grafana.tls]

    [http.routers.cockpit]
      entryPoints = ["apollo"]
      service = "apollo-app-cockpit"
      rule = "Host(`cockpit.{{ arc['space']['space_domain'] }}`)"
      [http.routers.cockpit.tls]

    [http.routers.traefik-dashboard]
      entryPoints = ["apollo"]
      rule = "Host(`traefik.{{ arc['space']['space_domain'] }}`)"
      service = "api@internal"
      [http.routers.traefik-dashboard.tls]

  [http.middlewares]    
    [http.middlewares.apollo-basic-auth.basicAuth]
      users = [
        "{{ arc['auth']['admin_user'] }}:{{ arc['auth']['admin_password_hash'] }}"
      ]
    
    # [http.middlewares.apollo.headers]
    #   browserXssFilter = true
    #   contentTypeNosniff = true
    #   frameDeny = true
    #   #sslRedirect = true
    #   #HSTS Configuration
    #   stsIncludeSubdomains = true
    #   stsPreload = true
    #   stsSeconds = 31536000
    #   customFrameOptionsValue = "SAMEORIGIN"

    [http.middlewares.apollo.compress]

  [http.services]
    [http.services.apollo-app-grafana]
      [http.services.apollo-app-grafana.loadBalancer]
        [http.services.apollo-app-grafana.loadBalancer.healthCheck]
          path = "/api/health"
          interval = "10s"
          timeout = "3s"
        [[http.services.apollo-app-grafana.loadBalancer.servers]]
          url = "http://{{ apollo_manager }}:3000"

    [http.services.apollo-app-cockpit]
      [http.services.apollo-app-cockpit.loadBalancer]
        [[http.services.apollo-app-cockpit.loadBalancer.servers]]
          url = "http://{{ apollo_manager }}:9090"